%section
  .page-header
    %h1 Movies
  .row-fluid
    .span8
      = pagination_links(@movies)

      - @movies.each do |movie|
        = render 'movie', :movie => movie
        %br
      = pagination_links(@movies)
    .span4
      = render 'search'
    .clearfix
