.mate {
  float: left;
  margin-right: 20px;
  width: 200px;
  padding: 5px;
  height: 220px;
  border: 1px dashed grey;

  .thumb {
    text-align: center;

  }
  .info {
    text-align: center;

  }
}