.mate {
  float: left;
  margin-right: 20px;
  width: 200px;
  padding: 5px;
  height: 220px;
  margin-bottom: 30px;

  .thumb {
    text-align: center;

  }
  .info {
    text-align: center;

  }
  .actions{
    text-align: center;
  }
}